<section class="page home">
    <div class="header">
        <a href="{{url 'user#home' id}}" class="avatar"><img src="{{avatar_large}}" alt="" /></a>
        <div class="info">
            <h3 class="name">{{name}}</h3>
            <p class="description">
                {{describe}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <ul class="nav nav-list sidenav">
                <li class="nav-header"></li>
                <li><a href="{{url 'user-topics' id}}">主题</a></li>
                <li><a href="{{url 'user-posts' id}}">回复</a></li>
                <!--<li><a href="{{url 'user-watch' id}}">关注</a></li>-->
            </ul>
        </div>
        <div class="span10">
            <section class="list home-list-region"></section>
        </div>
    </div>
</section>
