<section class="page profile">
    <div class="row">
        <div class="span2" id="scrollspy">
            <ul class="nav nav-list sidenav">
                <li class="nav-header">设置</li>
                <li class="nav-profile"><a href="#profile">个人资料</a></li>
                <li class="nav-avatar"><a href="#avatar">更新头像</a></li>
                <li class="nav-password"><a href="#password">修改密码</a></li>
            </ul>
        </div>
        <div class="span10" id="page-area"></div>
    </div>
</section>
