<div class="box">
    <table class="table-striped">
        <thead>
            <tr>
                <th>话题</th>
                <th>节点</th>
                <th class="count">喜欢</th>
                <th class="count">关注</th>
                <th class="count">回复</th>
            </tr>
        </thead>
        <tbody class="post-item-region"></tbody>
        <tbody class="empty-region" style="display: hidden">
            <tr>
                <td>没有任何回复</td>
                <td colspan="4"></td>
            </tr>
        </tbody>
    </table>
</div>
