<div class="wrap user-home">
    <div class="info clearfix">
        <div class="avatar"><img src="{{ user.avatar_large }}" width="100" /></div>
        <h1 class="name">{{ user.name }}</h1>
        <p class="about">{{ user.signature }}</p>
    </div>
    <div class="row">
        <div class="span2">
            <ul class="nav nav-list sidenav">
                <li><a href="/user/{{ user.id }}">首页</a></li>
                <li><a href="/user/{{ user.id }}/topics">主题</a></li>
                <li><a href="/user/{{ user.id }}/watch">关注</a></li>
                <li><a href="/user/{{ user.id }}/likes">喜欢</a></li>
            </ul>
        </div>
        <div class="span10">
        </div>
    </div>
</div>
