<div class="wrap">
    <div class="row">
        <div class="span2">
            <ul class="nav nav-list box sidenav">
                <li class="nav-header">设置</li>
                <li class="page-profile"><a href="/settings">个人资料</a></li>
                <li class="page-avatar"><a href="/settings/avatar">更新头像</a></li>
                <li class="page-password"><a href="/settings/password">修改密码</a></li>
            </ul>
        </div>
        <div class="span10">
            <section class="box"></section>
        </div>
    </div>
</div>
