<ul class="breadcrumb">
    <li><a href="/">首页</a> <span class="divider">/</span></li>
    <li class="active">设置</li>
</ul>
<div class="wrap">
    <section class="box">
        <h3 class="inner subject">个人资料</h3>
        <div class="inner">
            <form action="./" method="post" class="form-horizontal profile-form">
                <div class="alert hide"></div>
                <div class="control-group">
                    <label class="control-label" for="username">用户名</label>
                    <div class="controls">
                        <input id="username" name="username" type="text" value="{{user.name}}" disabled/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">邮箱</label>
                    <div class="controls">
                        <input id="email" name="email" type="text" value="{{user.email}}" disabled />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="weibo">微博</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">@</span>
                            <input class="span2" id="weibo" name="weibo" type="text" value="{{user.weibo}}">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="wechat">微信</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">@</span>
                            <input class="span2" id="wechat" name="wechat" type="text" value="{{user.wechat}}">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="signature">签名</label>
                    <div class="controls">
                        <textarea id="signature" name="signature" rows="4" class="input-xlarge">{{user.signature}}</textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn submit">修改</button>
                </div>
            </form>
        </div>
    </section>

    <section class="box">
        <h3 class="inner subject">修改头像</h3>
        <div class="inner">
            <form action="javascript:;" method="post" class="form-horizontal avatar-form">
                <div class="alert hide"></div>
                <div class="control-group">
                    <label class="control-label" for="avatar">当前头像</label>
                    <div class="controls">
                        <img src="{{user.avatar_large}}" alt="avatar" class="img-polaroid" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">新头像</label>
                    <div class="controls">
                        <input id="avatar" name="avatar" type="file" class="hide" />
                        <button class="btn choose">上传新头像</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="box">
        <h3 class="inner subject">修改密码</h3>
        <div class="inner">
            <form action="./" method="post" class="form-horizontal password-form">
                <div class="alert hide"></div>
                <div class="control-group">
                    <label class="control-label" for="currentPassword">当前密码</label>
                    <div class="controls">
                        <input id="currentPassword" name="currentPassword" type="password" value="" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="newPassword">新密码</label>
                    <div class="controls">
                        <input id="newPassword" name="newPassword" type="password" value="" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="confirmPassword">重复新密码</label>
                    <div class="controls">
                        <input id="confirmPassword" name="confirmPassoword" type="password" value="" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn submit">修改密码</button>
                </div>
            </form>
        </div>
    </section>
</div>
