<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>节点导航</h3>
    </div>
    <div class="modal-body">
        {{#each nodes}}
        <dl class="node-section">
            <dt>{{name}}</dt>
            <dd>
                {{#each nodes}}
                <a href="/node/{{alias}}">{{name}}</a>
                {{/each}}
            </dd>
        </dl>
        {{/each}}
    </div>
</div>
