<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>节点导航</h3>
    </div>
    <div class="modal-body">
        <dl class="node-section">
            <dt>PHP</dt>
            <dd>
                <a href="/?node=1">框架</a>
                <a href="/?node=2">问答</a>
                <a href="/?node=3">部署</a>
                <a href="/?node=4">开源</a>
                <a href="/?node=5">单元测试</a>
            </dd>
        </dl>
        <dl class="node-section">
            <dt>分享</dt>
            <dd>
                <a href="">工具控</a>
                <a href="">招聘</a>
                <a href="">分享</a>
                <a href="">瞎扯淡</a>
                <a href="">其他</a>
                <a href="">产品控</a>
                <a href="">书籍</a>
                <a href="">Mac</a>
                <a href="">插画</a>
                <a href="">创业</a>
            </dd>
        </dl>
        <dl class="node-section">
            <dt>Web开发</dt>
            <dd>
                <a href="">MongoDB</a>
                <a href="">Redis</a>
                <a href="">Git</a>
                <a href="">Database</a>
                <a href="">Linux</a>
                <a href="">Nginx</a>
                <a href="">云服务</a>
                <a href="">搜索分词</a>
                <a href="">算法</a>
                <a href="">CSS</a>
                <a href="">Mailer</a>
                <a href="">数学</a>
                <a href="">运维</a>
            </dd>
        </dl>
    </div>
</div>
