<div class="toolbar clearfix">
    <ul class="nav nav-pills pull-left">
        {{#if node}}
        <li class="index"><a href="/">全部</a></li>
        {{/if}}
        <li class="popular"><a href="{{nodePath node}}/popular">热议</a></li>
        <li class="latest"><a href="{{nodePath node}}/latest">最新</a></li>
        <li class="suggest"><a href="{{nodePath node}}/suggest">推荐</a></li>
        <li class="watch"><a href="{{nodePath node}}/watch">关注</a></li>
        <li><a href="/nodes">节点</a></li>
    </ul>
    <a href="{{{loginRequire '/create'}}}" class="btn pull-right"><i class="icon icon-plus"></i>创建主题</a>
</div>
<div class="row">
    <div class="main">
        <section class="box">
            <div class="topics"></div>
        </section>
    </div>

    <div class="sidebar">
        {{#if node}}
        <section class="box">
            <h2 class="inner subject">{{node.name}}</h2>
            <div class="inner describe">
                {{node.describe}}
            </div>
        </section>
        {{/if}}
        <section class="box">
            <h2 class="inner subject">系统推荐</h2>
            <ul class="inner topics" id="suggest_topics">
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
        <section class="box">
            <h2 class="inner subject">好评如潮</h2>
            <ul class="inner topics" id="likes_topics">
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
        <section class="box">
            <h2 class="inner subject">无人问津</h2>
            <ul class="inner topics" id="noreply_topics">
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
    </div>
</div>
