<div class="row">
    <div class="main">
        <section class="box topic">
            <div class="inner topic-meta">
                <a href="/user/{{ topic.author.id}}" class="avatar pull-right"><img src="{{topic.author.avatar_middle}}" width="48" height="48" /></a>
                <h1 class="topic-title">
                    <a href="/topic/{{ topic.id }}" class="title">{{ topic.title }}</a>
                    <span class="sep">•</span>
                    <a href="#/node/{{ topic.node.alias}}" class="node topic-node">{{ topic.node.name }}</a>
                </h1>
                <div class="topic-info">
                    <a href="/user/{{ topic.author.id }}" class="topic-author">{{ topic.author.name }}</a> 发表于 <time>{{timeago topic.created_at }}</time>
                    <span class="sep">•</span>
                    最后回复 <a href="#/user/{{ topic.lastPoster.id }}" class="topic-author">{{ topic.lastPoster.name }}</a>
                    <span class="sep">•</span>
                    共 <span class="count">{{ topic.views }}</span> 次阅读
                </div>
            </div>
            <div class="inner topic-body">{{markdown topic.content}}</div>
            <div class="inner topic-toolbar clearfix">
                <div class="pull-right topic-action">
                    <a href="javascript:;" class="action-reply" topic="{{topic.id}}">回复({{topic.posts_count}})</a>
                    <span class="sep">•</span>
                    <a href="javascript:;" class="action-watch" topic="{{topic.id}}">关注({{topic.watch_count}})</a>
                    <span class="sep">•</span>
                    <a href="javascript:;" class="action-like" topic="{{topic.id}}">喜欢({{topic.likes_count}})</a>
                </div>
                <div class="topic-share">
                    share
                </div>
            </div>
        </section>

        <section class="box">
            <div class="inner posts-header">
                共有 <span class="count">{{ topic.posts_count }}</span> 次回复
                <span class="sep">•</span>
                最后回复来自于
                <a href="#/user/{{ topic.author.id}}" class="last-poster">{{topic.last_posted_by}}</a>
                <time>{{timeago topic.last_posted_at}}</time>
            </div>
            <div class="posts"></div>
        </section>
    </div>

    <div class="sidebar">
        <section class="box">
            <h2 class="inner subject">好评如潮</h2>
            <ul class="inner topics" id="likes_topics">
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
        <section class="box">
            <h2 class="inner subject">无人问津</h2>
            <ul class="inner topics" id="noreply_topics">
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
    </div>
</div>
