<section class="box">
    <form action="javascript:;" method="post" class="form-horizontal" id="avatar-form">
        <h3 class="box-header">更新头像</h3>
        <div class="alert hide"></div>
        <div class="control-group">
            <label class="control-label" for="avatar">当前头像</label>
            <div class="controls">
                <div class="avatar"><img src="{{avatar_large}}" alt="avatar" /></div>
            </div>
        </div>
        <div class="box-footer">
            <input id="avatar" name="avatar" type="file" class="hide" />
            <button class="btn choose">上传新头像</button>
        </div>
    </form>
</section>
