<section class="box">
    <form action="javascript:;" method="post" class="form-horizontal" id="password-form">
        <h3 class="box-header">修改密码</h3>
        <div class="alert-area"></div>
        <div class="control-group">
            <label class="control-label" for="currentPassword">当前密码</label>
            <div class="controls">
                <input id="currentPassword" name="password" type="password" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="newPassword">新密码</label>
            <div class="controls">
                <input id="newPassword" name="newPassword" type="password" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="confirmPassword">重复新密码</label>
            <div class="controls">
                <input id="confirmPassword" name="confirmPassword" type="password" />
            </div>
        </div>
        <div class="box-footer">
            <input name="id" type="hidden" value="{{id}}" />
            <button type="submit" class="btn submit">修改密码</button>
        </div>
    </form>
</section>
