<div class="inner post">
    <dl class="clearfix post-wrap">
        <dt class="post-sidebar">
            <a href="/user/{{ post.author.id }}" class="avatar"><img src="{{ post.author.avatar_middle}}" alt="" width="48" height="48" /></a>
        </dt>
        <dd class="post-main">
            <div class="post-meta">
                <a href="/user/{{ post.author.id }}">{{ post.created_by }}</a> 回复于 <time>{{ post.created_at }}</time>
            </div>
            <div class="sep5"></div>
            <div class="post-body">{{markdown post.content}}</div>
            <div class="post-action">
                <a href="javascript:;">回复</a>
                <span class="sep">•</span>
                <a href="javascript:;">喜欢({{ post.likes_count }})</a>
            </div>
        </dd>
    </dl>
</div>
