<h3 class="inner subject">更新头像</h3>
<div class="inner">
    <form action="javascript:;" method="post" class="form-horizontal avatar-form">
        <div class="alert hide"></div>
        <div class="control-group">
            <label class="control-label" for="avatar">当前头像</label>
            <div class="controls">
                <img src="{{user.avatar_large}}" alt="avatar" class="img-polaroid" />
            </div>
        </div>
        <div class="form-actions">
            <input id="avatar" name="avatar" type="file" class="hide" />
            <button class="btn choose">上传新头像</button>
        </div>
    </form>
</div>
