<form action="javascript:;" method="post" class="form-horizontal avatar-form">
    <fieldset>
        <legend>更新头像</legend>
        <div class="alert hide"></div>
        <div class="control-group">
            <label class="control-label" for="avatar">当前头像</label>
            <div class="controls">
                <div class="avatar"><img src="{{user.avatar_large}}" alt="avatar" /></div>
            </div>
        </div>
        <div class="form-actions">
            <input id="avatar" name="avatar" type="file" class="hide" />
            <button class="btn choose">上传新头像</button>
        </div>
    </fieldset>
</form>
