<h3 class="inner subject">修改密码</h3>
<div class="inner">
    <form action="./" method="post" class="form-horizontal password-form">
        <div class="alert hide"></div>
        <div class="control-group">
            <label class="control-label" for="currentPassword">当前密码</label>
            <div class="controls">
                <input id="currentPassword" name="currentPassword" type="password" value="" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="newPassword">新密码</label>
            <div class="controls">
                <input id="newPassword" name="newPassword" type="password" value="" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="confirmPassword">重复新密码</label>
            <div class="controls">
                <input id="confirmPassword" name="confirmPassoword" type="password" value="" />
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn submit">修改密码</button>
        </div>
    </form>
</div>
