<section class="simple-page create box">
    <form action="javascript:;" class="form-horizontal" id="create-form">
        <h3 class="box-header">创建主题</h3>
        <div class="alert-area"></div>
        <div class="box-body">
            <div class="control-group" id="selector-placeholder"></div>
            <div class="control-group">
                <input type="text" id="inputTitle" class="title input-xxlarge" name="title" placeholder="标题">
            </div>
            <div class="control-group">
                <textarea class="input-xxlarge" rows="10" name="content"></textarea>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">发布</button>
        </div>
    </form>
</section>
