<div class="wrap row">
    <section class="box span10 offset1">
        <form action="javascript:;" method="post" class="form">
            <fieldset>
                <legend>创建主题</legend>
                <div class="alert hide"></div>

                <div class="control-group">
                    <input type="text" name="title" class="input-xxlarge" placeholder="标题">
                    <span id="nodeSelector"></span>
                </div>

                <div class="control-group">
                    <div class="editor">
                        <div class="editor-toolbar">
                            <i class="icon-bold"></i>
                            <i class="icon-list"></i>
                            <i class="icon-picture"></i>
                            <i class="icon-preview"></i>
                        </div>
                        <div class="sep5"></div>
                        <textarea name="content" class="input-xxlarge editor-area" rows="15"></textarea>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary submit">发布</button>
                </div>
            </fieldset>
        </form>
    </section>
</div>
