<div class="wrap row">
    <section class="box span10 offset1">
        <form action="javascript:;" method="post" class="form-horizontal">
            <fieldset>
                <legend>登录</legend>
                <div class="alert hide"></div>
                <div class="control-group">
                    <label class="control-label">用户名</label>
                    <div class="controls">
                        <input type="text" name="id" placeholder="输入用户名或邮箱">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">密码</label>
                    <div class="controls">
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary submit" type="submit">登录</button>
                </div>
            </fieldset>
        </form>
    </section>
</div>
