<div class="wrap row">
    <section class="box span10 offset1">
        <form action="javascript:;" method="post" class="form-horizontal">
            {{#if user_id}}
            <fieldset>
                <legend>重置密码</legend>
                <div class="alert hide"></div>
                <div class="control-group">
                    <label class="control-label" for="newPassword">新密码</label>
                    <div class="controls">
                        <input id="newPassword" name="newPassword" type="password" class="input-xlarge" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="confirmPassword">确认新密码</label>
                    <div class="controls">
                        <input id="confirmPassword" name="confirmPassword" type="password" class="input-xlarge" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary resetPassword">提交</button>
                </div>
            </fieldset>
            {{else}}
            <fieldset>
                <legend>忘记密码？</legend>
                <div class="alert hide"></div>
                <div class="control-group">
                    <div class="controls">
                        <span class="help-block">
                            <p>填写你注册时的邮箱后提交</p>
                            <p>我们会发送一份带有特殊链接的邮件到你的邮箱，请注册查收</p>
                            <p>点击该链接后开始重置你的密码</p>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">邮箱</label>
                    <div class="controls">
                        <input id="email" name="email" type="text"  class="input-xlarge" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary sendmail">提交</button>
                </div>
            </fieldset>
            {{/if}}
        </form>
    </section>
</div>
